.App {
    text-align: center;
}

.container {
    margin-top: 4px;
    margin-bottom: 4px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.App-link {
    color: #61dafb;
}
  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card {
    margin: 8px;
    .card-title {
        color: #212121;
        font-size: 170%;
    }
}

.btn {
    &.btn-secondary {
        color: #FFFFFF;
        &:hover {
            background-color: #757575;
        }
    }
}

.date.form-control {
    color: #757575;
    border: 1px solid hsl(0, 0%, 80%) !important;
    width: 100% !important;
    // margin-left: 5%;

    &::placeholder {
        color: #757575;
    }
}

.is-disabled-datepicker {
    background-color: lightgray;
    color: gray;
    pointer-events: none;
}

.react-datepicker-wrapper {
    width: calc(100% - 42px);
    .react-datepicker__input-container {
        width: 100%;
    }
}
