$theme-colors: (
  "secondary": #9E9E9E,
  "primary": #673AB7,
);

@import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
